*.pyc
.ipynb_checkpoints/
.idea/
.DS_Store
.vscode
venv/
env/
dist
ai-missions/*/skills/*/src/common
spark-batch-prediction/spark-base/spark-*-bin-hadoop*
spark-batch-prediction/spark-base/spark.tgz
__pycache__
