cortex-python
discovery-transition-ds
cortex-python-profiles==1.3.0a1
fastparquet==0.7.0
pandas==1.3.3
pyarrow==5.0.0
git+https://github.com/project-hadron/discovery-connectors.git@managed_content
Jinja2==3.0.3