cortex-python==6.1.0
discovery-transition-ds
cortex-python-profiles==1.3.0a1
fastparquet==0.7.0
pandas==1.3.3
pyarrow==5.0.0
git+https://github.com/project-hadron/discovery-connectors.git@a0039e527f
Jinja2==3.1.3