# Project Hadron
aistac-foundation >= 2.12.014
discovery-transition-ds == 3.02.074
kubernetes
pyarrow == 4.0.1
fastparquet
# Sensa
sensa-python
# Data Science packages
pandas >= 1.1
numpy
scikit-learn
matplotlib
seaborn
scipy
# AWS S3 connector
boto3
botocore
fsspec
s3fs
# Yaml connector
pyyaml




